@font-face {
    font-family: "Open Sans";
    src: url("open-sans/OpenSans-Regular.ttf")
}

body {
    margin: 0px;
    padding: 0px;
    user-select: none;
    font-family: Open Sans;
}

#amount-of-seconds {
    width: 70px;
    font-size: 23px;
    text-align: center;
}

#amount-of-seconds-outer {
    font-size: 23px;
}

#start-button, #pause-button {
    font-size: 30px;
    color: #444343;
    border-radius: 15px;
    border: 2px solid #444343;
    background-color: #998a8a6e;
    display: inline-block;
    margin: 10px 5px;
    padding: 1px 7px 5px
}

.center {
    text-align:center;
    margin: 30px;
}

#seconds-meter {
    background-color: #524d4d;
    color: white;
    font-size: 50px;
    width: 220px;
    display: inline-block;
}