#amount-of-seconds {
    width: 60px;
}

#start-button {
    font-size: 30px;
    color: red;
    border-radius: 15px;
    border: 2px solid red;
    display: inline-block;
    margin: 10px 0px;
    padding: 1px 7px 5px
}

#start-button-outer {
    text-align: center;
    user-select: none;
}